.forgotPasswordPage{
    padding: 100px;
    .forgot-password-container {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
      
        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
      
        p {
          margin-bottom: 2rem;
        }
      
        .form-group {
          margin-bottom: 1rem;
          text-align: left;
      
          label {
            display: block;
            margin-bottom: 0.5rem;
          }
      
          input {
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
          }
        }
      
        button {
          width: 100%;
          padding: 0.75rem;
          font-size: 1.25rem;
          border: none;
          background-color: #007bff;
          color: #fff;
          border-radius: 0.25rem;
      
          &:hover {
            background-color: #0062cc;
          }
        }
      
        .success-message {
          margin-top: 2rem;
          color: #28a745;
        }
      }

}