.serviceManagement{
    .serviceManagementTitle {
        margin-top: 50px;
        align-items: center;

        p {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: -5px;
        }
    }
    .serviceManagementTable {
        border-radius: 15px;
        background-color: white;
        min-height: 500px;
    }
    .createAccountBtn {
        display: flex;
        justify-content: end;

        button {
            padding: 8px 25px;
        }
    }
    .action-buttons{
        button{
            padding: 10px;
            margin:5px ;
            max-width: 100px;
            min-width: 100px;
        }
    }

}