#root {
	font-family: 'Roboto', sans-serif;
}

.custom-link {
	cursor: pointer;
	font-weight: 500;
	color: #1f78ff;
}
tr,th,td {
	text-align: center !important;
	vertical-align: middle !important;
  }